@tailwind base;
@tailwind components;
@tailwind utilities;

.ad-img {
  max-width: 100%;
  max-height: 100%;
}

.logo-img {
  max-width: 100%;
  max-height: 60px;
}

.pub-contact {
  background: black;
  color: #ff6f61;
}

.pub-nav  {
  height: 45px;
  background: #ff6f61!important;
  color: white;
}

.pub-nav-link {
  text-transform: uppercase;
  font-weight: bold;
}


.pub-nl-title {
  color: #000;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 3px double #000;
}

.pub-nl-img {
  max-width: 145px;
}

.pub-link {
  padding: 10px;
  background: black;
  color: white;
}

.pub-link.active {
  background: #ff6f61!important;
}

.pub-footer {
  background: black;
  color: white;
}

.pub-footer-title {
  color: #fff;
  letter-spacing: 1px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 3px double #fff;
}

.pub-footer-link {
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.pub-footer-link:hover {
  color: #ff6f61;
  
}